* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: gray;

}
h1 {

  color: black;
  text-align: center;
}
.row{
  max-width: 1200px;
  margin: auto;
  overflow:auto;

}
.gallery {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  width :320px;
  float: left;
}
.gallery img{
  width: 100%;
  height: auto;
}
.text{
  position: absolute;
  text-align: center;
  top :50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  color: white;
 
}
